@inherits LayoutComponentBase
<style>
/*     div.page {
        height: 100vh;
        background-image: url("css/images/tipJar2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    div.page {
        position: relative;
    }

        div.page::before {
            height: 100vw;
            background-image: url("css/images/tipJar2.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0.2;
            z-index: -1;
        }

</style>
<div class="page">

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
