@inherits LayoutComponentBase
<style>
    div.page {
        height: 100vh;
        background-image: url("css/images/20231025-sqare.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="page">

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
